.hero {
  position: relative;
  min-height: 80vh;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #fff;
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #FFF478;
}

.hero-content {
  position: relative;
  z-index: 1;
  text-align: center;
  max-width: 800px;
  padding: 0 20px;
}

.hero-title {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.store-link {
  color: inherit;
  text-decoration: underline;
}

.hero-subtitle {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  font-weight: bold;
}

.hero-description {
  font-size: 1.1rem;
  color: #666;
  line-height: 1.6;
  max-width: 600px;
  margin: 0 auto;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .hero-title {
    margin-top: 40vh;
    font-size: 2.5rem;
  }

  .hero-subtitle {
    font-size: 2rem;
  }

  .hero-description {
    font-size: 1rem;
    padding: 0 20px;
    margin-bottom: 30vh;
  }
}

@media screen and (max-width: 480px) {
  .hero-title {
    font-size: 2rem;
  }

  .hero-subtitle {
    font-size: 1.5rem;
  }

  .hero {
    min-height: 60vh;
  }
}
